.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;

  background-image: url(../../../images/pencil-edit.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 19px;
  outline: none;
  background-color: #000000;
  transition: opacity ease-in 0.2s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 400px) {
  .profile__edit-button {
    width: 6vw;
    height: 6vw;
    background-size: 2.5vw 2.5vw;
  }
}

@media (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 9px;
  }
}
