@import url(_label/popup__profile_label.css);
@import url(_name/popup__profile_name.css);

.popup__profile {
  width: 358px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

@media (max-width: 358px) {
  .popup__profile {
    width: 90vw;
  }
}
